body {
  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  body {
    background-size: cover;
    background-position: 40% 0%;
  }
}

.moto {
  position: fixed;
  bottom: 30px;
  left: 30px;
}
